.box1{
    background-color: #151d4d; 
    height: 120px;
}

.box2{
    background-color: #151d4d;
    height: 60px;
}
.redes{
  font-size: 60px !important; 
  color: rgb(171, 179, 223);
}

.testos{
    color: rgb(171, 179, 223);
}